doctype
html
	head(charset='utf-8')
		title= title

		link(rel='stylesheet', href='#{assets}/vendor/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='#{assets}/vendor/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='#{assets}/vendor/google-code-prettify/prettify.css')

	body
		#doc.container!= body

		script(src='#{assets}/vendor/google-code-prettify/run_prettify.js')
