doctype
html
	head
		meta(charset='utf-8')
		title= title

		link(rel='stylesheet', href='#{assets}/vendor/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='#{assets}/vendor/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='#{assets}/vendor/google-code-prettify/prettify.css')
		link(rel='stylesheet', href='#{assets}/filter/markdown/markdown.stylus')

		body
		#doc.container
			.markdown-body
				//start-markdown-body
				div!= body
				//end-markdown-body

			.nav-container

		script(src='#{assets}/vendor/jquery.js')
		script(src='#{assets}/vendor/google-code-prettify/prettify.js')
		script(src='#{assets}/filter/markdown/markdown.js')
